/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
/* container's buttons/text or no container's */
.container {
    position: relative;
    bottom: 68.9px;
}
.ubootbutton {
    font-family: 'Nunito Sans', sans-serif;
    color: rgb(33, 33, 255);
    background-color: transparent;
    box-shadow: none;
    text-decoration: none;
    outline: none;
    border: none;
    position: relative;
    top: 14.9px;
    padding: 15px 20px;
    transition: 0.42s;
    font-size: 20px;
    margin: 0px 500px;
}
.aboutbutton {
    font-family: 'Nunito Sans', sans-serif;
    color: black;
    background-color: transparent;
    box-shadow: none;
    text-decoration: none;
    outline: none;
    border: none;
    padding: 15px 20px;
    position: relative;
    bottom: 41.3px;
    transition: 0.42s;
    font-size: 20px;
    margin: 0px 700px;
}
.srcodebutton {
    font-family: 'Nunito Sans', sans-serif;
    color: black;
    background-color: transparent;
    box-shadow: none;
    text-decoration: none;
    outline: none;
    border: none;
    padding: 15px 20px;
    position: relative;
    top: 72.9px;
    transition: 0.42s;
    font-size: 20px;
    margin: 0px 860px;
}
.mevsysbutton {
    font-family: 'Nunito Sans', sans-serif;
    color: black;
    background-color: transparent;
    box-shadow: none;
    text-decoration: none;
    text-shadow: none;
    outline: none;
    border: none;
    position: relative;
    bottom: 82px;
    transition: 0.42s;
    padding: 14px 70px;
    font-size: 28px;
    margin: -63px 240px;
    
}
.information {
    font-family: 'Noto Sans', sans-serif;
    margin: -27px 300px;
    font-size: 26px;
}
.information2 {
    font-family: 'Noto Sans', sans-serif;
    margin: -28px 300px;
    position: relative;
    top: 50px;
    font-size: 16px;
}
.information3 {
    font-family: 'Noto Sans', sans-serif;
    margin: -27px 300px;
    position: relative;
    top: 90px;
    font-size: 26px;
}
.information4 {
    font-family: 'Noto Sans', sans-serif;
    margin: -27px 300px;
    position: relative;
    top: 130px;
    font-size: 26px;
    white-space: normal;
}
.information5 {
    font-family: 'Noto Sans', sans-serif;
    margin: -27px 300px;
    position: relative;
    top: 130px;
    left: 220px;
    font-size: 16px;
    white-space: normal;
}
body{
    overflow-x: hidden;
    overflow-y: auto;
}
/* animations */
.aboutbutton:hover {color: rgb(33, 33, 255);}
.srcodebutton:hover {color: rgb(33, 33, 255);}
.mevsysbutton:hover {color: rgb(33, 33, 255);}
